*{
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: lightblue;
  }
.container{
    width: 40%;
}

.count{
    font-size: 20px;
}

.border{
    border-radius: 2rem;
}

.btn{
    margin: 0.5em;
}

@media only screen and (max-width: 900px) {
    .main{
        text-align: center;
        width: 60%;
        margin-bottom: 3rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .main{
        text-align: center;
        width: 80%;
        margin-bottom: 3rem;
    }
    .counter{
        font-size: 30px !important;
        margin-left: 0%;
    }
  }

  @media only screen and (max-width: 300px) {
    .main{
        text-align: center;
        width: 80%;
        margin-bottom: 3rem;
    }
    .counter{
        font-size: 30px !important;
        margin-left: 0%;
    }
  }